
body{
  font-family: monospace;
  color: white;
}
h1{
  text-align: center;
}
#side{
  position: fixed;
  top: 45%;
  left: 0px;
}
#side a{
  text-decoration: none;
  color: white;
  text-shadow: inset 1px, 3px, 3px, grey;
  text-emphasis: bolder;
}
#side li{
  list-style-type: none;
}
.hover {
    position: relative;
    display: block;
    border-bottom: 1px dotted black;
}

.hover .hoverText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 300%;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
.hover .hoverText::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.hover:hover .hoverText {
    visibility: visible;
    opacity: 1;
}
#background{
  background: linear-gradient(150deg, #25216D -10%,black 40%,  #101033 110%,#2A0534 110%);
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.panel{
  margin: auto;
  width: 65%;
  margin-top: 150px;
  margin-bottom: 250px;
  line-height: 25px;
}
.project:hover{
  cursor: pointer;
}

#intro{
  text-align: center;
}
#bio p{
padding-top: 25px;
}
#bio{
  padding-bottom: 70px;
}

#avatar{
  margin:0 auto;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 20px solid  #E8E8E8;
  background: url(res/me.png);
  background-size: auto 250px;
}
.links a{
  float: right;
  background-color:rgba(255, 255, 255, 0.7);
  margin: 5px;
  padding:4px;
  border-radius: 5px;
  text-decoration: none;
}
#fade{
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  left: 0px;
  top:0px;
  z-index: 8;
  transition: all 0.5s;
}
#view-img {
  visibility: hidden;
  position: fixed;
  max-width: 70%;
  max-height: 70%;
  left: 50%;
  top: 50%;
  z-index: 9;
  border-radius: 25px;
  box-shadow:  0.1px 0.6px 50px  black;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
}
#contact{
  padding-top: 100px;
  margin-bottom: 400px;
}
#contact li{
  float:left;
  list-style-type:none;
  margin: 40px;
}
#contact a{
  color: white;
  text-decoration:none;
  padding:30px;
  border-radius: 5px;
}
#contact a[href*="."]:hover{
  background-color:rgba(255, 255, 255, 0.7);
  color: black;
}
#photoRenamer{
  margin-top: 0px;
}
#bottom{
  width: 100%;
  text-align: right;
  opacity: 0.6;
  font-size: 14px;
  font-variant: small-caps;
}
